<p id="notice"><%= notice %></p>

<p><%= @cabinet_image_path2 %>

<p><a href="/pdfs/<%= @bid.id.to_s %>.pdf">View the Bid PDF</a></p>

<p>
  <strong>Logo:</strong>
  <%= @bid.logo %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @bid.client_name %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @bid.project_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bid.date %>
</p>

<p>
  <strong>Cabinet cost:</strong>
  <%= @bid.cabinet_cost %>
</p>

<p>
  <strong>Cabinet Delivery:</strong>
  <%= @bid.cabinet_delivery %>
</p>

<p>
  <strong>Cabinet Removal:</strong>
  <%= @bid.cabinet_removal %>
</p>

<p>
  <strong>Cabinet Installation:</strong>
  <%= @bid.cabinet_installation %>
</p>

<p>
  <strong>Cabinet Tax:</strong>
  <%= @bid.cabinet_tax %>
</p>

<p>
  <strong>Granite cost:</strong>
  <%= @bid.granite_cost %>
</p>

<!--<p>
  <strong>Tax cost:</strong>
  <%# @bid.tax_cost %>
</p>-->

<p>
  <strong>Total cost:</strong>
  <%= @bid.total_cost %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @bid.conditions %>
</p>

<p>
  <strong>Cabinet mix:</strong>
  <%= @bid.cabinet_mix %>
</p>

<p>
  <strong>Cabinet ID:</strong>
  <%= @bid.cabinet_id %>
</p>

<p>
  <strong>Cabinet ID from Cabinet table:</strong>
  <%= @bid.cabinet.id %>
</p>

<p>
  <strong>Cabinet Name:</strong>
  <%= @bid.cabinet.name %>
</p>

<p>
  <strong>Cabinet specs:</strong>
  <%= @bid.cabinet.specs %>
</p>

<p>
  <strong>Granite ID:</strong>
  <%= @bid.granite_id %>
</p>

<p>
  <strong>Granite Name:</strong>
  <%= @bid.granite.name %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
